:root {
  --primary: hsl(206, 100, 42);


  --secondary-1: hsl(220, 76, 21);
  --secondary-2: hsl(219, 66, 28);
  --secondary-3: hsl(219, 61, 32);
  --secondary-4: hsl(221, 31, 57);
  --secondary-5: hsl(222, 32, 82);


  --grey-1: hsl(30, 2, 37);
  --grey-2: hsl(30, 2, 53);
  --grey-3: hsl(30, 2, 62);
  --grey-4: hsl(0, 0, 87);
  --grey-5: hsl(30, 10, 92);
  --grey-6: hsl(0, 0, 95);
  --grey-7: hsl(0, 0, 99);

  --white: hsl(0, 0, 100);

  --black-1: hsl(0, 0, 0);
  --black-2: hsl(30, 3, 12);
  --black-3: hsl(30, 2, 19);
}
