@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

