@use "../utils" as *;

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: rem(1375);
  padding-inline: rem(32);
  margin-inline: auto;

  @include sm {
    padding-inline: rem(16);
  }
}
