:root {
  --clr-primary: hsl(206,100%,42%);

  /*Todo change colors*/

  --clr-secondary-1: hsl(220,76%,21%);
  --clr-secondary-2: hsl(219, 66%, 28%);
  --clr-secondary-3: hsl(219, 61%, 32%);
  --clr-secondary-4: hsl(221, 31%, 57%);
  --clr-secondary-5: hsl(222, 32%, 82%);


  --clr-grey-1: hsl(30, 2%, 37%);
  --clr-grey-2: hsl(30, 2%, 53%);
  --clr-grey-3: hsl(30, 2%, 62%);
  --clr-grey-4: hsl(0, 0%, 87%);
  --clr-grey-5: hsl(30, 10%, 92%);
  --clr-grey-6: hsl(0, 0%, 95%);
  --clr-grey-7: hsl(0, 0%, 99%);

  --clr-white: hsl(0, 0%, 100%);

  --clr-black-1: hsl(0, 0%, 0%);
  --clr-black-2: hsl(30, 3%, 12%);
  --clr-black-3: hsl(30, 2%, 19%);
}
