html {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--ff-primary);
  font-size: var(--fs-body-primary);
  color: var(--clr-secondary-1);
}

* {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}
